.NavContainer{
    margin-left: 2.5%;
    margin-right: 0;
    width: auto
}
.Icon{
    width: 40px;
    height: 40px;
}
.IconText{
    margin-top: 100px;
    margin-left: 5%;
}
.TMText{
    margin-left: 2%;
}
.searchBarDiv{
    margin-left: 10%;
    width: auto;
}
.searchBarText{
    width: 40vw;

}
.searchBarTextCol{
    padding-right: 0;
}
.searchBarBtnCol{
    padding-left: 0;
}
.searchBarSeaButton{
    background-color: #222222;
    border-color : black;
    border-left: 0px;
}
.navbarAdditionalsDiv{
    margin-left: 20%;
}
.navbarVideoAddButton{
    background-color: #0F0F0F;
    border: none;
    size:"50"
}
.navbarUserIcon{
    width: 35px;
    height: 35px;
}