.NavbarDiv {
    background-color: #0F0F0F;
}

.NavContainer {
    margin-left: 2.5%;
    margin-right: 0;
    width: auto
}

.Icon {
    width: 40px;
    height: 40px;
}

.IconText {
    margin-top: 100px;
    margin-left: 5%;
}

.TMText {
    margin-left: 2%;
}


.navbarAdditionalsDiv1 {
    margin-left: 75%;
}

.navbarVideoAddButton {
    background-color: #0F0F0F;
    border: #0F0F0F;
    border-radius: 75%;
}

.navbarVideoAddButton:hover {
    background-color: #a4a4a45e;
}

.navbarUserIcon {
    width: 35px;
    height: 35px;
}