.userAccountMainDiv {
    display: flex;
    flex-direction: row;
}

.viewsGraphDiv {
    width: 40vw;
    height: 70vh;
    border: 2px solid white;
    margin: 10vh 7vw;
}

.viewsGraphDiv>p {
    font-size: 2rem;
    text-align: center;
}

.videoUploadMainDiv {
    width: 40vw;
    height: 70vh;
    border: 2px solid white;
    margin: 10vh 7vw;
}

.videoUploadDiv {
    display: flex;
    flex-direction: row;
}

.fileUploadDiv {
    display: block;
    margin-left: 8.5vw;
    margin-bottom: 1vh;
}

.videoRendererDiv {
    width: 35vw;
    height: 50vh;
    margin: 0;
    padding: 10px;
}

.videoRenderer {
    width: 450px;
    height: 300px;
}

.uploadButtonDiv {
    margin-left: 200px;
}